alias ls='ls -G'
alias brew='env HOMEBREW_NO_ANALYTICS=1 brew'
alias serve='python -m SimpleHTTPServer'
alias closure-compiler-readable='closure-compiler --compilation_level WHITESPACE_ONLY --formatting PRETTY_PRINT'
alias pip-user='pip install --user --install-option="--install-scripts=$HOME/bin"'
alias gem-user='gem install --user-install --bindir="$HOME/bin"'
alias jsc=/System/Library/Frameworks/JavaScriptCore.framework/Versions/Current/Resources/jsc
alias dotfiles='git --git-dir=$HOME/.dotfiles --work-tree=$HOME'
alias 0xed='/Applications/0xED.app/Contents/MacOS/0xED'
