[color]
  ui = true
[core]
  excludesfile = ~/.gitignore.global
  precomposeUnicode = true
[apply]
  whitespace = nowarn
[credential]
  helper = osxkeychain
[push]
  default = current
[mergetool]
	keepBackup = false
	keepTemporaries = false
[merge]
  tool = vimdiff
[include]
  path = .gitconfig.local
[includeif "gitdir:*:/"]
  path = .gitconfig.win
[branch]
	sort = -committerdate
[alias]
	root = rev-parse --show-toplevel
	exec = "!exec "
	wtstat = each-worktree --header status --short --branch
	grph = log --graph --abbrev-commit  --format='%C(auto)%h%d %C(cyan)%ad%n%s %C(dim)-- %an <%ae>'
[init]
	defaultBranch = main
