[color]
  ui = true
[core]
  excludesfile = ~/.gitignore.global
  precomposeUnicode = true
[apply]
  whitespace = nowarn
[push]
  default = current
[mergetool]
	keepBackup = false
	keepTemporaries = false
[merge]
  tool = vimdiff
[include]
  path = .gitconfig.local
[includeif "gitdir:*:/"]
  path = .gitconfig.win
[branch]
	sort = -committerdate
[alias]
	root = rev-parse --show-toplevel
	exec = "!exec "
	wtstat = each-worktree --header status --short --branch
	grph = log --graph --abbrev-commit  --format='%C(auto)%h%d %C(cyan)%ad%n%s %C(dim)-- %an <%ae>'
	sw = "!BRANCH=\"$(git branch \"$@\" --list --format '%(refname:short)' | fzf)\" && git switch \"$BRANCH\" #"
	pr = "!git fetch \"${2:-$(git remote | head -n1)}\" \"pull/$1/head:pull/$1\" && git switch \"pull/$1\" #"
[init]
	defaultBranch = main
[format]
	pretty = %C(auto)%h %C(cyan)%ai%C(auto)%d %C(dim normal)-- %an <%ae>%Creset%n%s%n
